<h1> Add a new Character.</h1>
<p>Fill out the form to add a new character to the roster</p>

<form action="/characters" method="post">
  <label for="characterName">Character's Name:</label>
  <input id="characterName" name="characterName" type="text"><br>
  <label for="characterDescription">Description for character:</label>
  <input id="characterDescription" name="characterDescription" type="text"><br>
  <button type="submit">Add character.</button>
</form>

<p><a href="/characters">Go Back.</a></p>
<p><a href="/">Back to Home.</a></p>