@using Genshin.Models;

<p>@Model["character"].Name :</p>
<p>@Model["character"].Description</p>

<p><a href='/characters/@Model["character"].Id/orders/new'>Add more orders</a></p>
<p><a href='/characters'>Back to characters list</a></p>
<p><a href='/'>Back to Home Page</a></p>